/* ContactUs.css */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 900px; */
  margin: 2rem auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
  color: #333;
}
.social-links {
  margin-top: 20px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.social-links h4{
    display: flex;
}
img{
    width: 50px;
}

.social-links a {
  margin-right: 15px;
  font-size: 24px;
  color: #333;
  transition: color 0.3s;
  width: 100px;
}

.social-links a:hover {
  color: #007bff;
}


.heading{
    color: rgb(0, 0, 0);
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.contact-form {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
}

.contact-form button {
  padding: 0.8rem;
  background-color: #4ea5f3;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #3498db;
}

.success-message {
  color: green;
  margin-top: 1rem;
}

.error-message {
  color: red;
  margin-top: 1rem;
}

.contact-details {
  margin-top: 2rem;
  color: rgb(0, 0, 0);
}

.contact-details h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact-details .office {
  margin-top: 1rem;
  color: black;
  padding: 1rem;
  background: #f0f8ff;
  border-left: 4px solid #4ea5f3;
  border-radius: 6px;
}

.office{
  max-width: 800px;
}

.contact-details .office h5 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}


.map-div{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.map{
  margin: 10px;
  height: 500px;
  width: 90vw;
}

@media (max-width: 768px) {
  .contact-container {
    padding: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.9rem;
  }

  .contact-details .office {
    font-size: 0.9rem;
  }
}
